body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #F4712D;
  padding: 5px 5px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; */
}

header h1 {
  font-size: 16pt;
  display: inline;
}

header p {
  margin-left: 5px ;
  font-size: 10pt;
  display: inline;
}

/* header p a {
  color: black;
  text-decoration: none;
} */

a {
  color: black;
  text-decoration: none;
}

header p a:nth-child(n + 2):before {
  content: " | ";
}

.description,
.selection {
  text-align: center; /* Optional: center-align text */
}

.registration,
.error,
.info,
.login,
.newPlace {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

input, button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.error {
  color: red;
}

.info {
  color: green;
}

article {
  margin: 5px 5px;
}

article h2 {
  display: inline;
  font-size: 10pt;
}

article p {
  color: black;
  font-size: 9pt;
  margin: 3px 30px;
}

article p span.points:after {
  content: " points";
}

article p span.city:before {
  content: ' | city: ';
}

article p span.freeWiFi:before {
  content: ' | ';
}

article p span.coffeePrice:before {
  content: ' | coffee: ';
}

article p span.coffeePrice:after {
  content: ' € ';
}

article p a.delete:before {
  content: '| delete';
}


article p a.approve,
article p a.edit,
article p a.delete {
  /* text-decoration: none; */
  color: #8C8C8C;
  /* text-decoration: underline; */
}

article p a.approve:before {
  content: ' | approve';
}

article p a.edit:before {
  content: ' | edit';
}

.inline {
  display: inline;
}

.upvote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 5px 0px 0px;
}

.btn-clicked {
  color: red;
}

.editPlace {
  display: flex;
  align-items: center;
  gap: 10px; /* Промежуток между элементами */
  align-items: flex-start;
}

.editPlace input,
.editPlace label,
.editPlace button {
  font-size: 9px; /* Размер шрифта */
  height: 20px; /* Высота инпутов */
  padding: 2px 5px; /* Внутренние отступы для лучшего вида */
  line-height: 20px; /* Выравнивание текста по центру */
  box-sizing: border-box; /* Учитывать padding и border в общей ширине и высоте элемента */
}

.editPlace input[type="checkbox"] {
  height: auto; /* Вернуть высоту по умолчанию для чекбоксов */
  margin: 0; /* Убедиться, что у чекбоксов нет внешних отступов */
}

.editPlace label {
  display: flex;
  align-items: center; /* Выравнивание текста внутри метки по центру с чекбоксом */
}

.editPlace button {
  display: flex;
  align-items: center;
  justify-content: center; /* Центрирование текста по горизонтали и вертикали */
  padding: 0 10px; /* Дополнительные внутренние отступы */
}